@model SuperShop.Data.Entities.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <div class="row">
        
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Name)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Price)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Price)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.LastPurchase)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.LastPurchase)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.LastSale)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.LastSale)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.isAvailable)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.isAvailable)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Stock)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Stock)</dd>
            </dl>
        </div>

        <div class="col-md-4 text-center">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Url.Content(Model.ImageUrl)" alt="Image" class="img-fluid" style="max-height:450px;" />
            }
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
